enable-pre-post-scripts=true
@jds:registry=https://nexus.mgt.comm.jobkorea.co.kr/repository/npm-store/
@jk:registry=https://nexus.mgt.comm.jobkorea.co.kr/repository/npm-store/
@jk-cli:registry=https://nexus.mgt.comm.jobkorea.co.kr/repository/npm-store/
@comm:registry=https://nexus.mgt.comm.jobkorea.co.kr/repository/npm-store/
